.tab{
    height: 10px;
    width:10px;
    border-radius: 20px;
    text-transform: capitalize;
    background:  rgba(23, 129, 23, 0.637);
    border: 2px solid rgba(0, 73, 0, 0.548);
}
.tab-failed{
    background:  rgba(129, 23, 23, 0.637);
    border: 2px solid rgba(73, 0, 0, 0.548);
}
